extends layout

block content

	script( src="/javascripts/factories/adminFactory.js" )
	script( src="/javascripts/controllers/adminCtrl.js" )

	h1= title
	p Welcome to #{title}
	div( ng-controller="adminCtrl" )

		form( ng-submit="loguea()", ng-hide="sesion")
			p User
			input( type="text", ng-model="user" )
			br
			p Password
			input( type="password", ng-model="psw" )
			br
			input( type="submit" )

		table( ng-if="sesion" )
			tr
				th Alumno
				th Curso
				th Telefono
				th Email
				th Escuela
				th Edad
			tr( ng-repeat=" alumno in alumnos" )
				td {{alumno.nombre}}
				td {{alumno.curso}}
				td {{alumno.telefono}}
				td {{alumno._id}}
				td {{alumno.escuela}}
				td {{alumno.edad}}