extends layout

block content
	h1= title
	p Welcome to #{title}
	form( ng-controller="registro", ng-submit="registra()" )
		p Nombre Completo
		input( type="text", ng-model="nombre" )
		br
		p Curso de interes
		select( ng-model="curso" )
			option(value="both") Curso de BackEnd y FrontEnd
			option(value="back") Curso BackEnd
			option(value="front") Curso FrontEnd
		br
		p Edad
		input( type="text", ng-model="edad" )
		br
		p Correo Electronico
		input( type="email", ng-model="email" )
		br
		p Telefono de contacto(Celular de preferencia)
		input( type="text", ng-model="telefono" )
		br
		p Escuela de Procedencia(En caso de que aplique)
		input( type="text", ng-model="escuela" )
		br
		input( type="submit" )
