extends layout

block content
	.parallax_main
		.parallax_container
			.opacity_bg
			img(src="/images/background.jpg")
		button#ir_registro.button_info Registrate aqui
		h1.super_title codeaChido
			.pd_16(style="max-width: 500px;")
				.pd_16
				h2.title_medium.mr_bottom_32 Codea bien chido, con codeaChido ;)
				p(style="font-size: 17px;font-weight: normal; text-align: justify") 
					| codeaChido es una iniciativa sobre Cursos de Desarrollo de Software, trabajamos de primera mano con emprendedores al rededor de México y con las mejores escuelas del país. 
					| Si eres un estudiante, emprendedor o simplemente tienes ganas de aprender, codeaChido es la opción para que te pongas a codear como pro!

	.super_padding
		div(style="max-width: 640px;margin: 0 auto;text-align: justify;")
			.pd_16
			h1.title_big Sé un desarrollador FullStack Javascript
			p.pd_32 El curso se divide en dos partes, una donde aprenderás lo necesario para desarrollar del lado del cliente(FrontEnd) y otra donde verás la parte de desarrollo del lado de servidor(BackEnd). Los cursos están dirigidos para aquellas personas con pocos conocimientos en programación o para aquellas que quieran aprender nuevas tecnologías, igualmente si no sabes programar no te preocupes, pronto tendremos un curso para empezar a codear desde 0 ;)

	.super_padding
		.center_text
			section
				h2.title.mr_bottom_32 Front-End
				.line
				br
				.col_2
					.tem_container
						h2 UI Design ( CSS )
						p - ¿Qué es UI Design?
						p - Tendencias de Diseño
						p - CSS
						p - Iconografía e imagen
						p - Diseño Ajustable a diferentes tamaños de pantalla ( Responsive Design )
					.tem_container
						h2 UX Design
						p - ¿Qué es UX Design?
						p - Análisis de Aplicaciones Web mas utilizadas
						p - Simplicidad, usabilidad e intuitividad en páginas y aplicaciones web
						p - Iconografía e imagen para experiencia de usuario
				.col_2
					.tem_container
						h2 Javascript enfocado en diseño y animaciones
						p - Control del DOM con javascript
						p - Recursividad y buenas practicas
						.mr_bottom_16
						h3 jQuery
						p - Sintaxis del framework
						p - Uso de jQuery como remplazo de JS puro para ahorrar codigo
						p - Elementos utilizados en paginas web modernas y ejemplos
						blockquote(style="padding-left: 32px;")
							p - Carousel de imagenes automático y con botones
							p - Efecto parallax avanzado
							p - Ventanas emergentes y pop-ups
							p - Menu lateral dinamico
							p - Toolbar dinámico
							p - Barra de progreso animada
						p - Creación de plugins con jQuery
				.pd_32
				.center_text
					.col_4
						img.icon_img(src="/images/icons/language-html5.png")
					.col_4
						img.icon_img(src="/images/icons/language-css3.png")
					.col_4
						img.icon_img(src="/images/icons/language-javascript.png")
					.col_4
						img.icon_img(src="/images/icons/material-ui.png")
				.pd_32.mr_bottom_32
			section
				h2.title.mr_bottom_32 Back-End
				.line(style="background-color: #673AB7;")
				br
				.col_2
					.tem_container
						h2 Node.Js y Express
						p - ¿Qué es Node.Js y Express?
						p - Creación de servidor y URL’s
						p - Jade vs HTML
						p - Creación de Modulos
						p - Métodos GET, POST, DELETE y PUT
						p - Sesiones
						p - Creación de API REST
					.tem_container
						h2 Bases de Datos NoSQL con MongoDB
						p - ¿Qué es una DB NoSQL?
						p - Comandos y Shell de MongoDB
						p - CRUD (Create, Read, Update, Delete)
						p - Aggregation Framework
						p - Implementación con Node.Js
				.col_2
					.tem_container
						h2 AngularJS
						P - ¿Qué es AngularJS?
						P - ¿Qué es una SPA?
						P - Application, Controller, $scopes y Directivas
						P - Filtros
						P - Consumo de API’s con $http
						P - Factories y Services
						P - Promesas y buenas practicas
				.pd_32
				.center_text
					.col_4
						img.icon_img(src="/images/icons/nodejs.png")
					.col_4
						img.icon_img(src="/images/icons/dbs_mongodb.png")
					.col_4
						img.icon_img(src="/images/icons/angular.png")
					.col_4
						img.icon_img(src="/images/icons/json.png")
				.pd_32.mr_bottom_32
			section
				.pd_32
					h2.title.mr_bottom_32 Extras
					.line(style="background-color: #FFC107;")
					br
					.tem_container
						h2 Desarrollo de proyecto
						p - Desarrollo de un carrito de compras cubriendo todo el temario
							b  Teoria-Practica
					br
					.tem_container
						h2 GitHub y Git
						p - ¿Qué es GitHub y Git?
						p - Uso de git y github para versionamiento de proyectos y trabajo en equipo
						p - Comandos y creación de Ramas
					br
					.tem_container
						h2 AWS (Amazon Web Services)
						p - Creación de una instancia con AWS
				.pd_32
				.center_text
					.col_4
						img.icon_img(src="/images/icons/github-circle.png")
					.col_4
						img.icon_img(src="/images/icons/git.png")
					.col_4
						img.icon_img(src="/images/icons/amazon-clouddrive.png")
				.pd_16
	.super_padding.bg_indigo.font_color_white
		h1.title_big.mr_bottom_32 Precio
		.line(style="background-color: #fff;")
		br
		div(style="text-align: center")
			.col_2
				.pd_16
					h2.title_big $3000.00 MXN
			div.mr_bottom_16
				.pd_32
					h3.title_small.mr_bottom_8 Para apartar un lugar:
					h2.title $1250.00 MXN
			div(style="text-align: left;")
				h2.title_small.mr_bottom_8 Contado:
				p.mr_bottom_16 $2700.00 MXN
				p *Precios sujetos a cambios, información para el pago favor de contactarnos
	.super_padding(style="text-align: center;")
		h1.title_big.mr_bottom_32 Dirección (Sujeta a cambios)
		p.title_small.mr_bottom_8 Ignacio Allende 21, Amp Torre Blanca, 11289 Ciudad de México, CDMX
		h3.title Startup México
		.map_container
			iframe(width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Startup+México&output=embed")

	.super_padding.bg_blue
		h1.title_big Horarios
		.pd_8
		.center_text
			p.title_small.mr_bottom_16 Fecha de Inicio: 10 de Julio 2017
			p.title_small.mr_bottom_8 Lunes a Jueves de 10:00 a 14:00 hrs
			p.title_small 48 hrs de curso

	#registro.super_padding
		.form_container
			.title_big Regístrate aquí
			.pd_32
			form( ng-controller="registroCtrl", ng-submit="registra()" )
				.col_2
					div(style="padding-right: 16px;")
						.text_field
							p Nombre Completo
							input( type="text", ng-model="registro.nombre" placeholder="Nombre Completo" required-field, validation-type="letters", data-length="min 10")
						br
						.text_field
							p Curso de interes
							select( ng-model="registro.curso" required-field )
								option(disabled selected value="") Elige Curso
								option(value="both") Curso de BackEnd y FrontEnd
								option(value="cero") Curso de Programacion desde 0
						br
						.text_field
							p Edad
							input( type="text", ng-model="registro.edad" placeholder="Edad" required-field, validation-type="numbers" )
				.col_2
					div(style="padding-left: 16px;")
						.text_field
							p Correo Electrónico
							input( type="email", ng-model="registro.email" placeholder="Correo Electrónico" required-field, validation-type="email" )
						br
						.text_field
							p Teléfono de contacto (Celular de preferencia)
							input( type="text", ng-model="registro.telefono" placeholder="Teléfono" required-field, validation-type="numbers", data-length="8-12" )
						br
						.text_field
							p Escuela de Procedencia (En caso de que aplique)
							input( type="text", ng-model="registro.escuela" placeholder="Escuela" data-length="min 5" )
				.pd_16
				.text_field(style="text-align: right;")
					input( type="submit", value="Registrarse" )

	.super_padding.bg_black
		.title_big Contacto
		.pd_16
		.pd_32.center_text(style="padding-bottom: 0;")
			.col_2
				p.mr_bottom_8 55 4699 8574
				p alejandrodnl.cv@hotmail.com
			.col_2
				p.mr_bottom_8 55 1728 6341
				p diegojmartinezzm@gmail.com
				
	script( src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js" )
	script( src="/javascripts/app.js" )
	script( src="/javascripts/factories/registroFactory.js" )
	script( src="/javascripts/controllers/registroCtrl.js" )
	script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" )
	script( src="/javascripts/validation-plugin.js" )
	script.
			(function($) {
				$.fn.parallaxEffect = function() {
					var _this = this;
					var offset_top = this.offset().top;
					var parent_offset_top = this.parent().offset().top;
					var parent_height = this.parent().outerHeight();
					var window_height = $(window).height();
					var elem_size = parseFloat(parent_height) * 1.15;
					var diference = elem_size - parent_height;

					_this.parent().css({ 
						'overflow': 'hidden',
						'position': 'relative'
					});

					_this.css({ 
						'position': 'absolute',
						'width': '100%',
						'height': elem_size,
						'left': 0, 
						'top': -(diference/2)
					});

					var min_top = parent_offset_top - window_height; // posicion del padre menos la altura de la ventana
					var max_top = parent_offset_top + parent_height; // posicion del borde inferion del padre

					var x1 = 0, x2 = 0, y1 = 0, y2 = 0, y = 0, m = 0, x = 0; 

					/*top del parallax para el centrovar1 = -(diference/2);
					tamaño de la ventana var2 = window_height;
					altura del padre var3 = parent_height;
					offset del padre var4 = parent_offset_top; 
					diferencia entre ventana y altura del padre var5 = ( var2 - var3 )/2;
					posicion del scroll para el centro var6 = var4 - var5;*/

					y2 = -(diference/2); // posicion1 del cont parallax
					y1 = parent_height*0.6; // posicion2 del cont parallax
					if ( parent_offset_top == 0 ){
						x2 = parent_offset_top;
					} else {
						x2 = parent_offset_top - ( ( window_height - parent_height )/2 ); // posicion scroll1
					}
					x1 = max_top; // posicion scroll2
					m = ( y2 - y1 )/( x2 - x1 ); // pendiente

					$(window).scroll( function() {
						x = $(window).scrollTop();

						if ( x >= min_top && x <= max_top ){
							y = ( m * ( x - x1 ) ) + y1;

							_this.css({ 'top': y });
						}
					});
				}
			})(jQuery);
	script.
			$('form').formValidation({
				mainAlert: true
			});

			$('.parallax_container').each( function( index ) {
				$(this).parallaxEffect();
			});

			$('#ir_registro').click( function() {
				$('body').animate({
					'scrollTop': jQuery('#registro').offset().top
				}, 1200);
			});

