doctype html
html
	head
		title= title
		meta( name="description", content="Curso de Desarrollo y Aplicaciones" )
		link(rel='stylesheet', href='/stylesheets/style.css')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-86044758-2', 'auto');
			ga('send', 'pageview');
		
	body( ng-app="aplicacion" )
		block content
		script( src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js" )
		script( src="/javascripts/app.js" )
		script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" )
		script( src="/javascripts/validation-plugin.js" )
		script.
			(function($) {
				$.fn.parallaxEffect = function() {
					var _this = this;
					var offset_top = this.offset().top;
					var parent_offset_top = this.parent().offset().top;
					var parent_height = this.parent().outerHeight();
					var window_height = $(window).height();
					var elem_size = parseFloat(parent_height) * 1.15;
					var diference = elem_size - parent_height;

					_this.parent().css({ 
						'overflow': 'hidden',
						'position': 'relative'
					});

					_this.css({ 
						'position': 'absolute',
						'width': '100%',
						'height': elem_size,
						'left': 0, 
						'top': -(diference/2)
					});

					var min_top = parent_offset_top - window_height; // posicion del padre menos la altura de la ventana
					var max_top = parent_offset_top + parent_height; // posicion del borde inferion del padre

					var x1 = 0, x2 = 0, y1 = 0, y2 = 0, y = 0, m = 0, x = 0; 

					/*top del parallax para el centrovar1 = -(diference/2);
					tamaño de la ventana var2 = window_height;
					altura del padre var3 = parent_height;
					offset del padre var4 = parent_offset_top; 
					diferencia entre ventana y altura del padre var5 = ( var2 - var3 )/2;
					posicion del scroll para el centro var6 = var4 - var5;*/

					y2 = -(diference/2); // posicion1 del cont parallax
					y1 = parent_height*0.6; // posicion2 del cont parallax
					if ( parent_offset_top == 0 ){
						x2 = parent_offset_top;
					} else {
						x2 = parent_offset_top - ( ( window_height - parent_height )/2 ); // posicion scroll1
					}
					x1 = max_top; // posicion scroll2
					m = ( y2 - y1 )/( x2 - x1 ); // pendiente

					$(window).scroll( function() {
						x = $(window).scrollTop();

						if ( x >= min_top && x <= max_top ){
							y = ( m * ( x - x1 ) ) + y1;

							_this.css({ 'top': y });
						}
					});
				}
			})(jQuery);
		script.
			$('form').formValidation({
				mainAlert: true
			});

			$('.parallax_container').each( function( index ) {
				$(this).parallaxEffect();
			});

			$('#ir_registro').click( function() {
				$('body').animate({
					'scrollTop': jQuery('#registro').offset().top
				}, 1200);
			});
