doctype html
html.full-height(lang='en-US')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title codeaChido
		meta( name="description", content="Iniciativa para estudiantes, emprendedores o simplemente los que quieren aprender a programar, desarrollar aplicaciones web y más!" )
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(href='css/mdb.min.css', rel='stylesheet')
		link(href='styles/main.css', rel='stylesheet')
	body#top( ng-app="aplicacion" )
		block content
